.card {
    max-width: 600px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card p {
    margin: 0px;
    padding: 0px;
}

.about-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-img-container {
    width: 120px;       /* adjust size */
    height: 120px;
    margin-bottom: 1rem;
    border-radius: 50%; /* makes it circular */
    overflow: hidden;
    background-color: #e2e8f0; /* placeholder background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h3 {
    margin-bottom: 10px;
    padding: 0px;
}

.text-muted {
    opacity: 75%;
}

.skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.skills-list li {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.skills-list li img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
    border-radius: 25%;
}
